name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: fedora:43
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          install-xvfb: "true"

      - name: Build all packages
        run: pnpm build

      - name: Build docs
        run: pnpm run docs
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Lint all packages
        run: pnpm lint

      - name: Check dead code
        run: pnpm knip

      - name: Run tests
        run: |
          Xvfb :99 -screen 0 1024x768x24 &
          sleep 1
          pnpm test
        env:
          DISPLAY: ":99"
